<!DOCTYPE html>
<html lang="en">
<head>
  
    <title>Login Page</title>
 
   
    

    </style>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    
        
        
    <form method="post">
        
        <h3>Login Here</h3>
        {% csrf_token %} 
        <label for="username">Username</label>
        <input type="text" placeholder="Enter Username" id="username" name="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="pass">

        <button type="submit">Log In</button>
        <a href="{% url 'signup' %}" >Create a account</a>
    </form>
    
</html>
