<!DOCTYPE html>
<html lang="en">
<head>
   <title>Signup Page</title>
  <form action="" method="post">
        {% csrf_token %} 
        
        <label for="username">Username</label>
        <input type="text" placeholder="Username" name="username" id="username"> <br><br>

        <label for="email">Email</label>
        <input type="email" placeholder="Email or Phone" name="email" id="email"><br><br>

        <label for="password1">Password</label>
        <input type="password" placeholder="Password" id="password1" name="password1"><br><br>


        <label for="password2">Confrom Password</label>
        <input type="password" placeholder="Confrom Password" id="password2" name="password2"><br><br>
        <button type="submit">Signup</button>
        
        <a href="{% url 'login' %}" >i have already account</a>
        
    </form>
</body>
</html>
